<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="/css\movier.css"/>
	</head>
	<body>
		<div class="container">
			<header>
				<ul>
					<li class="logo1"><a href="http://localhost:3000/"><img class="logo_dim" border="0" alt="GoMovie" src="/img\logo.png"></a></li>
					<li style="float:right"><a href="http://localhost:3000/logout" class="opt"><font face ="verdana">LOGOUT</a></li>
					<li style="float:right"><a href="http://localhost:3000/theatres" class="opt"><font face ="verdana">THEATRES</a></li>
					<li style="float:right"><a href="http://localhost:3000/movies" class="opt"><font face ="verdana">MOVIES</a></li>
				</ul>
			</header>
			{{{body}}}
			<footer>
				<div class="footer_content">
					<ul>
						<li><div class="foot_logo">
							<img class="foot_logo_dim" border="0" alt="GoMovies" src="/img\logo1.png">
						</div>
						</li>
						<li>
							<div class= "footer_doc">
								<ul>
									<li>Documentation</li>
									<li>Support/Contact us</li>
									<li>Registry Status</li>
									<li>Website Issues</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</footer>
		</div>
	</body>
</html>
