			<header>
				<ul>
					<li class="logo1"><a href="http://localhost:3000"><img class="logo_dim" border="0" alt="GoMovie" src="img\logo.png"></a></li>
					<li style="float:right"><a href="http://localhost:3000/register" class="opt"><font face ="verdana">LOGIN</a></li>
				</ul>
			</header>
			<div class="picture">
				<div class="intro_img">
				<div class="intro_img">
					<div class="asker">
						<br><b><font size="7" face="verdana" >Wanna watch the latest movies?</font></b></br>
						
						<b><font size="5" face="verdana" >Book tickets at the push of  button</font></b>
						
					</div>
				</div>
			</div>
			
			<article>
				<div class="portion1">
					<div class="section1">
					<h1 class="welcome_heading">Welcome to <font color="CC421D">GoMovies</font></h1>
					<p>GoMovies is simple project to help you meet your movie-going needs. Wanna check out movies currently running in theaters, GoMovies is the place to be. Search for movies, theaters and book tickets for you and your family.</p>
					</div>
					<div class="section2">
						<div class ="responivse1">
							<img class ="welcome_img" src="img\gomoviii.jpg">
						</div>
					</div>
				</div>
			</article>
			<br><br><br>
			<footer>
				<div class="footer_content">
					<ul>
						<li><div class="foot_logo">
							<img class="foot_logo_dim" border="0" alt="GoMovies" src="img\logo1.png">
						</div>
						</li>
						<li>
							<div class= "footer_doc">
								<ul>
									<li>Documentation</li>
									<li>Support/Contact us</li>
									<li>Registry Status</li>
									<li>Website Issues</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</footer>
			
			
			
			
			