<article>
	<br>
	{{#each results}}
	<div class="movie_info">
		<br>
		<div class="movie_info_name">
			<font size="6"><b>{{name}}</b></font>
			<hr/>
			<br>
		</div>
		<div class="movie_info_description">
			<div >
				<img class="movie_info_img" src="http://localhost:3000/img/uploads/{{img}}" alt="Movie poster" border="0" height="375" width="260">
			</div>
			<hr/>
			<br>
			<div class="movie_info_details"><p>{{abt}}</p>
			</div>
			<br>
			<hr/>
		 </div>
	 </div>
	 {{/each}}
</article>
