<article>
	<div class="playing">
	<br>
		<h1>Currently Playing :</h1>
		<hr/>
		<ul>
			{{#each table1}}
			<li style="float:left">
				<a href="#">
					<div>
						<img class="movie_poster" src="http://localhost:3000/img/uploads/{{img}}" alt="Movie poster" border="0" height="300" width="200">
					</div>
					<div class="movie_name">
						<b>{{name}}</b>
					</div>
				</a>
			</li>
			{{/each}}
		</ul>

		<h1>Coming Soon :</h1>
		<hr/>
		<ul>
			{{#each table2}}
			<li style="float:left">
				<div class="upcoming_movie">
					<div>
						<img class="movie_poster" src="http://localhost:3000/img/uploads/{{img}}" alt="Movie poster" border="0" height="300" width="200">
					</div>
					<div class="movie_name">
						<b>{{name}}</b>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</div>
	<br>
</article>
