<article>
	<div class="movie_register_details">
		<h1>Movie Details</h1>
		<hr/>
		<div class="movie_register_form">
			<form ref='uploadForm'
			  id='uploadForm'
			  action='http://localhost:8080/upload'
			  method='post'
			  encType="multipart/form-data">
				<label for="mname">Movie Name:</label>
				<br>
				<br>
				<input type="text" id="mname" name="mname" >
				<br>
				<br>
				<label for="stat">Status:</label>
				<br>
				<br>
				<input type="radio" name="stat" value="running" checked> Playing<br>
				<input type="radio" name="stat" value="not_running"> Not Playing<br>
				<br>
				<br>
				<label for="message">Synopsis:</label>
				<br>
				<br>
				<textarea name="message" rows="10" cols="30"></textarea>
				<br><br>
				<label for="sampleFile">Movie Poster:</label>
				<br><br>
				<input type="file" name="sampleFile" />
				<br>
				<br>
				<input type='submit' value='Upload!' />
				<br>
				<br>
				<br>
			</form>
		</div>
	</div>
</article>
