html,body
{

	width:100%;
	height: 100%;
  	margin: 0;
	padding: 0;
}


.container
{
	width: 100%;
	height: 100%;
}

header
{

    margin: 0;
    padding: 0;
    background-color: black;

}
footer
{
	margin:0;
	padding:0;
	background-color:#2B3137;

}

header ul
{
	margin: 0;
	list-style-type: none;
    overflow: hidden;
    padding: 0;

}

footer ul
{
	margin: 0;
	list-style-type: none;
    overflow: hidden;
    padding: 0;
}

header ul li
{
	padding-right : 16px;
}

.footer_content
{

		max-width: 1000px;
		margin: 0 auto;
}
.foot_logo
{
	float:left;
}
.foot_logo_dim
{
	height: 60px;
	width: 370px;
	padding-right:110px;
	padding-top:50px;
	padding-bottom:50px;
}
.footer_doc
{
	border: none;
    padding: 12px 16px;
	float: left;
    text-decoration: none;
    display: inline-block;
}
.footer_doc ul
{
	list-style-type: none;
    color: white;

}
.footer_doc ul li
{
	padding-top:15px;
	font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
.opt
{

    border: none;
    color: white;
    padding: 12px 16px;
	 text-align: center;
    text-decoration: none;
    display: inline-block;
}
.opt:hover {
    text-decoration: underline;

}

.logo1
{
		float:left;
		padding-top:4px;
		padding-left:15px;

}

.logo_dim
{
		height:35px;
		width:200px;
}

article
{
	max-width : 1000px;
	margin : 0 auto;
}

.playing
{
	margin: 0;
    padding: 0;
}

.playing ul
{
	margin: 0;
	list-style-type: none;
    overflow: hidden;
    padding: 0;
}
.playing ul li
{
	padding-right : 16px;
	padding-right : 16px;
}

.playing ul li a
{
	border: none;
	padding: 12px 16px;
	text-decoration: none;
    display: inline-block;
	width: 200px;
	text-align : center;
	color : black;
	font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}

.upcoming_movie{
	border: none;
	padding: 12px 16px;
	text-decoration: none;
    display: inline-block;
	width: 200px;
	text-align : center;
	color : black;
	font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
.playing ul li a:hover
{
	border: none;
	padding: 12px 16px;
	text-decoration: none;
    display: inline-block;
	width: 200px;
	text-align : center;
	color : #00ccff;
	font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}

.movie_info{
	padding-left: 35px;
	font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
